06_repeatString/repeatString.js
06_repeatString/solution/repeatString-solution.js
06_repeatString/solution/repeatString-solution.spec.js
07_reverseString/README.md
07_reverseString/reverseString.js
07_reverseString/solution/reverseString-solution.js
07_reverseString/solution/reverseString-solution.spec.js
08_removeFromArray/README.md
08_removeFromArray/removeFromArray.js
08_removeFromArray/solution/removeFromArray-solution.js
08_removeFromArray/solution/removeFromArray-solution.spec.js
09_sumAll/README.md
09_sumAll/solution/sumAll-solution.js
09_sumAll/solution/sumAll-solution.spec.js
09_sumAll/sumAll.js
10_leapYears/leapYears.js
10_leapYears/README.md
10_leapYears/solution/leapYears-solution.js
10_leapYears/solution/leapYears-solution.spec.js
11_tempConversion/README.md
11_tempConversion/solution/tempConversion-solution.js
11_tempConversion/solution/tempConversion-solution.spec.js
06_repeatString/README.md
11_tempConversion/tempConversion.js
